@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../fonts/RobotoCondensed-Bold.ttf") format("truetype");
    src: url("../fonts/RobotoCondensed_bold/RobotoCondensedBold.eot") format("embedded-opentype"),
        url("../fonts/RobotoCondensed_bold/RobotoCondensedBold.woff") format("woff"),
        url("../fonts/RobotoCondensed_bold/RobotoCondensedBold.woff2") format("woff2"),
}

@font-face {
    font-family: "Roboto Condensed Regular";
    src: url("../fonts/RobotoCondensed-Regular.ttf") format("truetype");
    src: url("../fonts/RobotoCondensed_regular/RobotoCondensedRegular.eot") format("embedded-opentype"),
        url("../fonts/RobotoCondensed_regular/RobotoCondensedRegular.woff") format("woff"),
        url("../fonts/RobotoCondensed_regular/RobotoCondensedRegular.woff2") format("woff2"),
}

@font-face {
    font-family: "Roboto Condensed Light";
    src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype");
    src: url("../fonts/RobotoCondensed_light/RobotoCondensedLight.eot") format("embedded-opentype"),
        url("../fonts/RobotoCondensed_light/RobotoCondensedLight.woff") format("woff"),
        url("../fonts/RobotoCondensed_light/RobotoCondensedLight.woff2") format("woff2"),
}

:root {
    --bold: "Roboto Condensed Bold";
    --regular: "Roboto Condensed Regular";
    --light: "Roboto Condensed Light";
    --fs-L: 6vw;
    --fs-M: 5vw;
    --border-radius: 3vh;


    --gradient: linear-gradient(90deg,
            #22c1c3 0%,
            #5fbe99 10%,
            #84bc7f,
            #a7bb67,
            #c8b951 70%,
            #fdb72d 100%);
}

@media (min-width: 430px) {
    :root {
        --fs-L: 25.8px;
        --fs-M: 21.5px;
    }
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    box-sizing: border-box;
    height: 100vh;
    max-width: 430px;
    min-width: 374px;
    padding: 2vh;
    border-radius: var(--border-radius);
    overflow: scroll;

    background-image: var(--gradient);
    background-size: 400%;
    background-position: left;

    display: flex;
    flex-direction: column;

    transition: background-position .7s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header #logo {
    background-image: url("../media/logo.png");
    background-size: cover;
    width: 5vh;
    height: 5vh;
}

header #title {
    font-size: var(--fs-L);
    font-family: Roboto Condensed Regular;
}

footer {
    margin-top: 6vh;
    font-size: var(--fs-m);
    font-family: Roboto Condensed Regular;
}

footer p {
    margin: 0;
}

.loading_bar {
    box-sizing: border-box;
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);

    background-color: rgba(255, 255, 255, 0.72);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading_feedback {
    box-sizing: border-box;
    width: 91vw;
    max-width: 388px;
    padding: 3vh 2vh;
    background-color: rgb(245, 245, 245);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    text-align: center;
    font-size: var(--fs-L);
    font-family: var(--regular);
}

.close_button {
    width: 100%;
    font-family: var(--regular);
    font-size: var(--fs-M);
    padding: 1.5vh;
    cursor: pointer;
}

#display_none {
    display: none;
}

#display_block {
    display: block;
}

#display_flex {
    display: flex;
}