:root {
    --bold: "roboto_bold";
    --regular: "roboto_regular";
    --light: "roboto_light";
    --fs-XL: 12vw;
    --fs-L: 6vw;
    --fs-M: 5vw;
    --border-radius: 2vh;
}

@media (min-width: 430px) {
    :root {
        /* calc(var(--fs-L) * 430 / 100) */
        --fs-XL: 51.6px;
        --fs-L: 25.8px;
        --fs-M: 21.5px;
    }
}


.register_back_color {
    background-position: right;
}

.container_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
}

.login {
    text-align: center;
    font-family: var(--regular);
}

.container_login h1 {
    font-family: var(--bold);
    font-size: var(--fs-XL);
    margin-bottom: 6vh;
}

.user_pass_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
    font-family: var(--regular);
    font-size: var(--fs-L);
}

.user_pass_input input {
    font-family: var(--regular);
    font-size: var(--fs-M);
    height: 4vh;
    padding-left: .5vh;
}

.container_login .login_feedback {
    padding: .5vh 0;
    font-size: var(--fs-M);
    margin: 2vh 0;
}

.container_login #wrong {
    background-color: white;
}

.container_login .button {
    background-color: white;
    padding: 2vh 0;
    font-size: var(--fs-L);
    cursor: pointer;
}

.container_login .register {
    text-decoration: underline;
    font-size: var(--fs-L);
    margin-top: 5.5vh;
    cursor: pointer;
}